/* From Uiverse.io by igoramos77 */
.container {
  position: relative;
  height: 100%;
  // background: #6c23c0;
  padding: 2rem;
  border-radius: 8px;
  transition: all .25s ease-in-out;
}

.container:hover {
  box-shadow: 0 4px 50px #00000020;
}

.container:hover .card {
  transform: translateY(-5%);
}

.info {
  margin-top: 1rem;
  color: #000000;
  justify-content: center;
  align-items: center;
  display: flex;
}

//lo del la foto de perfil 
.card {
  transition: all .25s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card input {
  display: none;
}

.card main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(135deg, #c4e0e5, #f1f1f1, #d4fc79);
  border-radius: 50%;
  overflow: hidden;
}

.card main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #c4e0e5;
}

//hasta aqui lo del card
.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c4e0e5, #f1f1f1, #d4fc79);
  background-size: 300% 300%;
  animation: gradient-move 8s infinite ease-in-out;
  z-index: -1;
}

@keyframes gradient-move {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}




/* From Uiverse.io by vinodjangid07 */
.BugButton {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}

.BugButton svg {
  width: 44%;
}

.BugButton:hover {
  background-color: #f7e7ff;
  overflow: visible;
}

.bugsvg path {
  transition: all 0.2s;
}

.BugButton:hover .bugsvg path {
  stroke: #050101;
}

.BugButton:active {
  transform: scale(0.98);
}

.tooltip {
  --tooltip-color: rgb(41, 41, 41);
  position: absolute;
  top: -40px;
  background-color: var(--tooltip-color);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 12px;
  font-weight: 600;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
  min-width: 100px;
}

.tooltip::before {
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  background-color: var(--tooltip-color);
  bottom: -10%;
}

.BugButton:hover .tooltip {
  opacity: 1;
}