<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- Campo para el nombre del usuario -->
      <ion-input class="usuario"
        [(ngModel)]="profile.user.person.nombreUsuario"
        [disabled]="editDatos"
        placeholder="Nombre de usuario"
      ></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-label>Seguidores: 0</ion-label>
        </ion-col>
        <ion-col>
          <ion-label>Siguiendo: 55</ion-label>
        </ion-col>
      </ion-row>
      <!-- Campo para la descripción -->
      <ion-input  class="descripcion"
        [(ngModel)]="profile.user.person.descripcion"
        [disabled]="editDatos"
        placeholder="Descripción"
      ></ion-input>
    </ion-card-content>
  </ion-card>

  <!-- Botones centrados debajo de la descripción -->
  <div style="text-align: center; margin-top: 16px;">
    <!-- Botón Editar -->
    <ion-button fill="outline" (click)="editPerfil()" style="margin-right: 8px;">
      Editar
    </ion-button>
    <!-- Botón Guardar -->
    <ion-button fill="outline" (click)="editPerfil(); updatePerson()">
      Guardar
    </ion-button>
  </div>

  <ion-list>
    <ion-list-header>Listas de Reproducción</ion-list-header>
    <ion-item>
      <ion-label>Ego</ion-label>
      <ion-badge slot="end">0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Erick Villa</ion-label>
      <ion-badge slot="end">3</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Artistas Escuchados Recientemente</ion-list-header>
    <ion-item>
      <ion-label>Jesse & Joy</ion-label>
      <ion-badge slot="end">9,200,657</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Sin Bandera</ion-label>
      <ion-badge slot="end">6,341,642</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Melendi</ion-label>
      <ion-badge slot="end">4,153,420</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
