<ion-content>
  <div class="login-container">
    <!-- Fondo animado -->
    <div class="background-animation"></div>

    <!-- Formulario de inicio de sesión -->
    <div class="login-form">
      <h1 class="app-logo">🎵</h1>
      <p class="tagline">¡Bienvenido de nuevo! Conéctate con tu música.</p>

      <!-- Campos de Login -->
      <div class="form-group">
        <ion-input placeholder="Correo electrónico" #correo type="email" class="input-field"></ion-input>
      </div>
      <div class="form-group">
        <ion-input placeholder="Contraseña"  #pasword type="password" class="input-field"></ion-input>
      </div>

      <!-- Botón de Iniciar Sesión -->
      <ion-button (click)="loginUser(correo, pasword)" expand="block" class="btn-login">Iniciar Sesión</ion-button>

      <!-- Opciones de Login con Redes Sociales -->
 
      <div class="social-login">
        <ion-button (click)="loginWithGoogle()"  expand="block" class="btn-google">
          <ion-icon name="logo-google"></ion-icon>
          Iniciar sesión con Google       
        </ion-button>
      </div>
      <div class="social-login">
        <ion-button (click)="loginWithGoogle()" routerLink="/principal" expand="block" class="btn-google">
          <ion-icon name="logo-google"></ion-icon>
          Iniciar sesión con Facebook       
        </ion-button>
      </div>
      
      <!-- 698278526138-85jrtj0fk5onvjdibh8pb47pm0j738kj.apps.googleusercontent.com -->
      <!-- Link de registro -->
      <p class="register-link">
        ¿No tienes una cuenta? <a routerLink="/registro">Regístrate</a>
      </p>
    </div>
  </div>


</ion-content>







  

