<ion-header>
  <ion-toolbar>
    <ion-title>Now Playing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scrollbar">
  <!-- <div class="card">
    <div class="card__img">
      <img [src]="cancionSeleccionada?.img" alt="Album Cover">
    </div>
    <div class="card__title">{{ cancionSeleccionada?.title }}</div>
    <div class="card__subtitle">{{ cancionSeleccionada?.artist }}</div>
    <div class="card__wrapper">
      <ion-button color="light" class="card__btn" (click)="play()">
        <svg height="12" viewBox="0 0 20 12" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <clipPath id="a"><path d="m0 0h20v12h-20z"></clipPath></clipPath>
          <g><path d="m17 1c0-.265216-.1054-.51957-.2929-.707107-.1875-.187536-.4419-.292893-.7071-.292893h-8v2h7v5h-3l3.969 5 4.031-5h-3zm-14 10c0 .2652.10536.5196.29289.7071.18754.1875.44189.2929.70711.2929h8v-2h-7v-5h3l-4-5-4 5h3z" fill="#fff"></path></g>
        </svg>
      </ion-button>
      <ion-button color="light" class="card__btn" (click)="pause()">
        <svg width="23" height="16" viewBox="0 0 23 16" fill="outline" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 8V0L0 8L11.5 16V8ZM23 0L11.5 8L23 16V0Z" fill="#fff"></path>
        </svg>
      </ion-button>
    </div>
    <div class="recent-songs">
      <h3 class="recent-songs__title">Songs by {{ cancionSeleccionada?.artist }}</h3>
      <ul class="recent-songs__list">
        <li class="recent-songs__item" *ngFor="let cancion of cancionesDelArtista">
          {{ cancion.title }}
        </li>
      </ul>
    </div>
  </div> -->


</ion-content>