/* Contenedor Principal */
.main-container {
  position: relative;
  min-height: 100vh;
  padding: 10px;
  color: #2c2c2c; /* Texto oscuro */
  overflow-y: scroll; /* Asegura que el contenido sea desplazable */
  z-index: 1;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.main-container::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}


.container {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}

/* Fondo Animado */
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #c4e0e5, #f1f1f1, #d4fc79); /* Colores pastel */
  background-size: 300% 300%;
  animation: gradient-move 8s infinite ease-in-out;
  z-index: -1;
}

@keyframes gradient-move {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* Cabecera */
.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.app-header p{
  color: #5f5f5fd2;
  font-family: cursive;
  font-size: 15px;
}
.app-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #5f5f5f; /* Gris oscuro */
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Sección de Álbumes */
.albums-section, .songs-section {
  margin-bottom: 30px;
}


.albums-section h2, .songs-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #4f4f4f; /* Texto oscuro sobrio */
}

/* Álbumes Destacados */
.albums-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
  
}

.album-card {
  min-width: 120px;
  text-align: center;
  background: #ffffff; /* Fondo claro */
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


.album-title {
  font-size: 0.9rem;
  margin: 0;
  color: #5f5f5f;
}

.album-artist {
  font-size: 0.8rem;
  color: #9d9d9d; /* Gris suave */
}



/* Barra de búsqueda */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: auto;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .input::placeholder {
  color: #9e9ea7;
 }
 
 .input:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 

/* Nueva sección de reproducción actual */



.play-btn {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient( #f1f1f1, #92c51a);
  cursor: pointer;
  outline: none;
}

.play-btn::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.play-btn:checked {
  animation: borderAnimate 700ms ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes borderAnimate {
  0% {
    transform: rotate(0);
    background: conic-gradient(#ff6347, transparent 20%);
  }

  80% {
    background: conic-gradient(#ff6347, transparent 90%);
  }

  100% {
    transform: rotate(360deg);
    background: conic-gradient(#ff6347, #ff6347);
  }
}

.play-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 60%;
  top: 50%;
  background-color: #82b1ff;
  transform: translate(-60%, -50%) rotate(90deg);
  clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.play-btn:checked + .play-icon {
  clip-path: polygon(0 100%, 0% 100%, 100% 100%);
}

.pause-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.pause-icon::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #82b1ff;
  left: 0;
}

.pause-icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #82b1ff;
  right: 0;
}

.play-btn:checked ~ .pause-icon::before {
  animation: reveal 300ms ease-in-out 350ms 1;
  animation-fill-mode: forwards;
}

.play-btn:checked ~ .pause-icon::after {
  animation: reveal 300ms ease-in-out 600ms 1;
  animation-fill-mode: forwards;
}

@keyframes reveal {
  0% {
    width: 0;
  }

  100% {
    width: 35%;
  }
}



/* */ 
.audio-playerr {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que los controles se mantengan en su lugar */
  width: 100%;
  height: 60px;
  background-color: #76a7f5d3;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; 
  margin-bottom: 10.4%;
}



.album-coverr {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 12px;
}

.album-coverr img	{
  border-radius: 8px;
}

.player-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px; 
}

.song-info {
  margin-bottom: 4px;
}


.song-title {
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.artistt {
  font-size: 12px;
  color: #000000;
  margin: 0;
}

.progress-barr {
  width: 100%;
  height: 4px;
  background-color: #4f4f4f;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  width: 50%;
  height: 100%;
  background-color: #1db954;
  transform-origin: left;
  animation: progress-animation 10s linear infinite;
  animation-play-state: paused; /* Inicialmente en pausa */
}

.buttonss {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btnn,
.pause-btnn {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.play-btnn:hover,
.pause-btnn:hover {
  transform: scale(1.2);
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
// sobre los controles

.controls {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre los controles */
  color: rgb(0, 0, 0);
}

.air {
  height: 100%;
  width: 54px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
  margin-bottom: 5px;
}

.controls svg:hover {
  color: #1db954;
}

.greenline {
  background-color: #ff7b00;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}




/* navegation */ 


/* Barra de navegación */

.bottom-navigation {
  position: fixed; /* Asegura que esté fija en la pantalla */
  bottom: 0; /* Mueve la barra de navegación a la parte inferior */
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px ;
  // border-radius: 5px 5px 0 0; 
  backdrop-filter: blur(5px);
  z-index: 1;
}

.bottom-navigation {
  background-color:rgba(255, 255, 255, 0.815);
}


.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(234, 76, 137);
  font-size: 0.75rem;
  // transition: color 0.3s ease;
}

.nav-item:hover {
  color: #76a7f5d3;
}

.nav-icon {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

