<ion-content>
  <div class="main-container">
    <!-- Fondo Animado -->
    <div class="background-animation"></div>

    <!-- Cabecera -->
    <header class="app-header">
      <h1>🎵 Bienvenido a MyMusicApp</h1>
      <p>Explora y disfruta de tu música favorita</p>
      <a href="perfil-usuario" >Perfil</a>
    </header>

    <!-- Sección de Álbumes Destacados -->
    <section class="albums-section">
      <h2>Álbumes Destacados</h2>
      <div class="albums-container">
        <div class="album-card" *ngFor="let album of albums">
          <img [src]="album.image" alt="Album Cover" class="album-cover">
          <h3 class="album-title">{{ album.title }}</h3>
          <p class="album-artist">{{ album.artist }}</p>
        </div>
      </div>
    </section>

    <!-- Sección de Canciones Populares -->
    <section class="songs-section">
      <h2>Canciones Populares</h2>
      <div class="songs-container">
        <div class="song-card" *ngFor="let song of songs">
          <div class="song-info">
            <h3 class="song-title">{{ song.title }}</h3>
            <p class="song-artist">{{ song.artist }}</p>
          </div>
          <ion-icon name="play-circle" class="play-icon"></ion-icon>
        </div>
      </div>
    </section>
  </div>
</ion-content>
