<div class="main-container">
  <!-- Fondo Animado -->
  <div class="background-animation"></div>

  <!-- Cabecera -->
  <header class="app-header"  routerLink="/perfil-usuario">
    <h1>🎵</h1>
    <p>Explora y disfruta de tu música favorita</p>
  </header>

  <!-- Barra de búsqueda -->

  <div class="group">
    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
      <g>
        <path
          d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
        </path>
      </g>
    </svg>
    <input placeholder="Search" type="search" class="input" [(ngModel)]="searchQuery" (input)="buscar()">
  </div>



  <!-- Sección de Álbumes Destacados -->
  <section class="albums-section">
    <h2>Álbumes Destacados</h2>
    <div class="albums-container">
      <div class="album-card" *ngFor="let cancion of canciones">
        <img [src]="cancion.img" alt="Album Cover" class="album-cover">
        <h3 class="album-title">{{ cancion.title }}</h3>
        <p class="album-artist">{{ cancion.artist }}</p>
      </div>
    </div>
  </section>

  <h2>Musicas</h2>

  <ion-item *ngFor="let cancion of cancionesFiltradas" (click)="reproducir(cancion)">
    <ion-avatar slot="start" class="avatarMusica">
      <img [src]="cancion.img" />
    </ion-avatar>
    <ion-label>
      <h2>{{ cancion.title }}</h2>
      <p>{{ cancion.artist }}</p>
    </ion-label>
  </ion-item>



  
  <div *ngIf="cancionSeleccionada" class="audio-playerr">
    <div class="album-coverr"><img [src]="cancionSeleccionada.img" /></div>
    <div class="player-controls">
      <div class="song-info">
        <div class="song-title">{{ cancionSeleccionada.title }}</div>
        <p class="artistt">{{ cancionSeleccionada.artist }}</p>
      </div>
    </div>

    <div class="controls">
      <svg (click)="cancionAnterior()" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.875" d="M2.2065 10.7391C1.2899 11.3298 1.2899 12.6702 2.2065 13.2609L9.18745 17.7597C10.1856 18.403 11.5 17.6863 11.5 16.4988L11.5 7.50117C11.5 6.31366 10.1856 5.59704 9.18745 6.24031L2.2065 10.7391Z"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.875" d="M12.2065 10.7391C11.2899 11.3298 11.2899 12.6702 12.2065 13.2609L19.1874 17.7597C20.1856 18.403 21.5 17.6863 21.5 16.4988L21.5 7.50117C21.5 6.31366 20.1856 5.59704 19.1874 6.24031L12.2065 10.7391Z"/></svg>
      <svg *ngIf="!isPlaying" (click)="pauseYplay()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2.125" d="M14 15L14 9"/><path stroke="currentColor" stroke-linecap="round" stroke-width="2.125" d="M10 15L10 9"/><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"/></svg>
      <svg *ngIf="isPlaying" (click)="pauseYplay()" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"/><path stroke="currentColor" stroke-width="1.875" d="M15.2856 11.6214C15.4186 11.7012 15.5 11.8449 15.5 12V12C15.5 12.1551 15.4186 12.2988 15.2856 12.3786L10.593 15.1943C10.5321 15.2308 10.4625 15.2501 10.3915 15.2501V15.2501C10.1753 15.2501 10 15.0748 10 14.8585L10 9.14155C10 8.9253 10.1753 8.75 10.3915 8.75V8.75C10.4625 8.75 10.5321 8.76929 10.593 8.8058L15.2856 11.6214Z"/></svg>
      <svg (click)="siguienteCancion()" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.875" d="M21.7935 10.7391C22.7101 11.3298 22.7101 12.6702 21.7935 13.2609L14.8126 17.7597C13.8144 18.403 12.5 17.6863 12.5 16.4988L12.5 7.50117C12.5 6.31366 13.8144 5.59704 14.8126 6.24031L21.7935 10.7391Z"/><path stroke="currentColor" stroke-linejoin="round" stroke-width="1.875" d="M11.7935 10.7391C12.7101 11.3298 12.7101 12.6702 11.7935 13.2609L4.81255 17.7597C3.81437 18.403 2.5 17.6863 2.5 16.4988L2.5 7.50117C2.5 6.31366 3.81437 5.59704 4.81255 6.24031L11.7935 10.7391Z"/></svg>          
      <svg (click)="shareMusica(musica)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><circle cx="18.25" cy="4.5" r="2.25" stroke="currentColor" stroke-width="2"/><circle cx="5.75" cy="12" r="2.25" stroke="currentColor" stroke-width="2"/><circle cx="18.25" cy="19.5" r="2.25" stroke="currentColor" stroke-width="2"/><path stroke="currentColor" stroke-width="2" d="M7.625 13.1252L16.5 18.4502"/><path stroke="currentColor" stroke-width="2" d="M16.375 5.625L7.625 10.875"/></svg>
    </div>
  </div>
</div>
