/* */
.audio-playerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Asegura que los controles se mantengan en su lugar */
  width: 100%;
  height: 60px;
  background-color: #76a7f5d3;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}



.album-coverr {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 12px;
}

.album-coverr img {
  border-radius: 8px;
}

.player-controls {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.song-info {
  margin-bottom: 4px;
}


.song-title {
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.artistt {
  font-size: 12px;
  color: #000000;
  margin: 0;
}

.buttonss {
  display: flex;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.play-btnn,
.pause-btnn {
  font-size: 16px;
  color: #fff;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.play-btnn:hover,
.pause-btnn:hover {
  transform: scale(1.2);
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

// sobre los controles

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Espacio entre los controles */
  color: rgb(0, 0, 0);
}

.air {
  height: 100%;
  width: 54px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
  margin-bottom: 5px;
}

.controls svg:hover {
  color: #1db954;
}

.greenline {
  background-color: #ff7b00;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

/* boton regresar */
.button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #000000;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}