<ion-content class="background-container">
  <!-- Video o imagen de fondo -->
  <div class="background">
    <!-- <video autoplay muted loop playsinline class="background-video">
      <source src="assets/background-video.mp4" type="video/mp4" />
    </video> -->
    <!-- Si no tienes video, usa una imagen -->
    <img src="assets/Talves.avif" class="background-image" />
    
  </div>

  <!-- Botón que abre la hoja modal -->
  <ion-button expand="block" class="open-action-sheet" (click)="presentActionSheet()">
    Iniciar sesión
  </ion-button>

</ion-content>
