<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="hi">
    <h1>HELLO! </h1>
  </div>


  <div class="secion">
    <p>Iniciar secion con:</p>
  </div>

  <ion-button expand="block">Google</ion-button>
  <ion-button expand="block">Facebook</ion-button>
  <ion-button expand="block">Crear</ion-button>

  <div class="iniciar">
    <p>Ya tengo una cuenta <a href=""><i>Iniciar secion</i></a> </p>
  </div>

</ion-content>
