<ion-content class="background-container">
  
  <!-- <div class="background">
   
    <img src="assets/secu.jpg" class="background-image"/>
 
  </div>

  <button class="open-action-sheet" (click)="presentActionSheet()"> Inicia Secion
  </button> -->

  <div class="welcome-container">
    <!-- Fondo animado -->
    <div class="background-animation"></div>

    <!-- Contenido principal -->
    <div class="main-content">
      <!-- Logo central -->
      <h1 class="app-logo">🎵 BeatSpark</h1>
      <p class="tagline">Tu música, tu ritmo, tu mundo.</p>

      <!-- Botones de acción -->
      <div class="action-buttons">
        <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn-primary" >Iniciar Sesión</button>
        <button [routerLink]="['/registro']" class="btn-secondary">Registrarse</button>
      </div>
    </div>

    <!-- Pie de página -->
    <footer>
      <p>© 2024 BeatSpark. Desarrollada por DevSpark.</p>
    </footer>
  </div>
</ion-content> 
  
