<ion-content >
  <div class="register-container" >
    <!-- Fondo animado -->
    <div class="background-animation"></div>

    <!-- Formulario de registro -->
    <div class="register-form">
      <h1 class="app-logo">🎵</h1>
      <p class="tagline">Únete y explora un mundo de música.</p>

      <!-- Campos del formulario -->
      <div class="form-group">
        <ion-input #nombreInput placeholder="Nombre" type="text" class="input-field"></ion-input>
      </div>
      <div class="form-group">
        <ion-input #apellidoInput placeholder="Apellido" type="text" class="input-field"></ion-input>
      </div>
      <div class="form-group">
        <ion-input #correoInput placeholder="Correo electrónico" type="email" class="input-field"></ion-input>
      </div>
      <div class="form-group">
        <ion-input #telefonoInput placeholder="Teléfono" type="tel" class="input-field"></ion-input>
      </div>
      <div class="form-group">
        <ion-input #passwordInput placeholder="Contraseña" type="password" class="input-field"></ion-input>
      </div>

      <!-- Botón de registro -->
      <ion-button (click)="registerUser(
            nombreInput, 
            apellidoInput, 
            correoInput, 
            telefonoInput, 
            passwordInput
          )" expand="block" class="btn-register">Crear Cuenta</ion-button>

      <!-- Link para volver al login -->
      <p class="login-link">
        ¿Ya tienes una cuenta? <a routerLink="/login" >Inicia sesión</a>
      </p>
    </div>
  </div>
</ion-content>